* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(275, 100%, 97%);
    color: hsl(292, 42%, 14%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    min-height: 100vh;
    background-image: url("background-image.png");
    background-repeat: no-repeat;
    background-size: 100vw 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole {
    background-color: white;
    border: 2px solid transparent;
    min-height: 560px;
    width: 600px;
    border-radius: 12px;
    padding: 2rem;
}

h2 {
    position: relative;
    font-size: 16px;
    padding: 1.5rem 0;
}

h2:hover {
    cursor: pointer;
    color: hsl(293, 66%, 47%);
}

#minus {
    position: absolute;
    top: 20%;
    padding-left: 20%
}

#plus {
    position: absolute;
    top: 20%;
    padding-left: 56%
}

#plus2 {
    position: absolute;
    top: 20%;
    padding-left: 18%
}

#plus3 {
    position: absolute;
    top: 20%;
    padding-left: 26%
}

p {
    font-size: 16px;
    color: hsl(292, 16%, 49%);
}

.inline {
    display: inline-block;
}

@media screen and (max-width: 576px) {
    .inline {
        display: inline;
    }

    .whole {
        min-height: 520px;
        width: 340px;
    }

    #minus {
        transform: translateY(25%);
        padding-left: 30%;
    }

    #plus {
        transform: translateY(10%);
        padding-left: 29%
    }

    #plus2 {
        transform: translateY(10%);
        padding-left: 29.5%
    }

    #plus3 {
        transform: translateY(10%);
        padding-left: 39%
    }

}