* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(275, 100%, 97%);
    color: hsl(292, 42%, 14%);
    background-image: url("Untitled\ design.png");
    background-repeat: no-repeat;
    background-size: 100vw 250px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole {
    background-color: white;
    border: 2px solid transparent;
    height: 540px;
    width: 550px;
    border-radius: 15px;
    padding: 1.8rem;
    display: flex;
    position: relative;
}

h1 {
    display: inline;
    padding-bottom: 1rem;
}

#star {
    position: relative;
    right: inherit;
    top: 12px;
}

img {
    transform: translateY(-0.3rem);
    position: fixed;
    right: 150px;
}

h4 {
    margin-top: 1.5rem;
    display: inline;
    position: relative;
}

p {
    margin: 1.5rem 0;
    color: hsl(292, 16%, 49%);
}
